@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Inria+Serif|Lora&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px; 
}
.top{
    background-color: rgb(49, 44, 44);
    padding: 10px;
}
.spans{
    padding-left: 12%;
    font-size: large;
    width: 25px;
    height: 30px;
    margin-bottom: -8px;
    color: white;
    font-family: 'Crimson Text', serif;
}
.spans_img{
    width: 25px;
    height: 30px;
    margin-bottom: -8px;
}
header{
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    position: relative; 
    background-color: black;
}
.right_side{
    display: flex;
    flex-direction: row;
}
.left_side {
    position: absolute;
    right: 0;
    top: 25px;
}
.fa-map-marker-alt,.fa-phone-alt,
.fa-at,.fa-home,.fa-address-card,
.fa-address-book,.fa-shopping-basket,
.fa-arrow-up{
    color:white;
}
.logo_img{
    width: 300px;
    height: 90px;
}
.left_side{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;
}
.left_side a{
    margin: 10px;
    text-decoration:none;
    font-weight: 500;
    color:white;
    font-size: 20px;
    font-family: 'Lora', serif;
}
.left_side i:hover{
    color:rgb(16, 150, 4);
}
i{
    letter-spacing: 1px;
    font-weight: 1000;
}
.parallax{
    background-image: url("../img/winter.jpg");
    display: flex;
    justify-content: center;
    min-height: 550px; 
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: none;
}
.overlay{
    position: absolute;
    width: 1348px;
    height:550px;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 2;
}
.parallax h1{
    padding-top: 90px;
    font-size: 50px;
    color:white;
    font-weight: bold;
    letter-spacing: 2px;
    transition: font-size 0.2s;
}
.parallax h1:hover{
    font-size: 60px;
}
.parallax p{
    color: rgba(248, 248, 248, 0.801);
    font-size: 16px;
    transition: font-size 0.2s;
    font-family: 'Crimson Text', serif; 
}
.parallax p:hover{
    font-size: 24px;
}
.parallax button{
    border:none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgba(255, 196, 45, 0.87);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    transition: width 0.2s, height 0.2s;
}
.parallax button:hover{
    width: 180px;
    height: 55px;
    color:rgba(255, 196, 45, 0.87);
    background-color: black;
    font-size: 25px;   
}
/* Catalog */
.cont {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    margin:auto; 
    padding-top: 3%;
}
.backgr{
    background-image: url("../img/concrete-1646788_960_720.webp");
}
.category{
    padding-top: 2%;
    text-align: center;
}
.category a{
    margin-left: 2%;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transition: font-size 0.2s;
}
.category a:hover{
    font-size: 24px;
    color: white
}
.platforma{  
    width: 255px;
    height: auto;
    border: 1px solid grey;
    background-color: rgba(248, 248, 248, 0.801);
    text-align: center;
    margin: 50px;
    margin-top: 3%;
}
.platforma1{  
    display: flex;
    width: 900px;
    height: auto;
    border: 1px solid grey;
    background-color: rgba(248, 248, 248, 0.801);
    text-align: center;
    margin-left: 9%;
    margin-top: 3%;
    margin-bottom: 7%;
}
.list_p{
    margin-left: 10%;
    margin-top: 6%;
    font-size: 20px;
}
.platforma1 i{
    font-size: 24px;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 16%;
    color: black;
}
.platforma1 i:hover{
    font-size: 24px;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 16%;
    color: rgb(175, 53, 53);
}
.platforma1 button{
    width: 120px;
    height: 30px;
    border: none;
    background-color: tomato;
    border-radius: 25px;
    margin-bottom: 2%;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.platforma1 button:hover{
    width: 120px;
    height: 30px;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    margin-bottom: 2%;
    font-size: 20px;
    color: tomato;
}
.platforma1 img{
    width: 250px;
    height: 250px;
}
.buy{
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    background-color: tomato;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.buy:hover{
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    color: tomato;
    padding-top: 5px;
    padding-bottom: 5px;
}
#sports a{
    text-decoration: none;
    margin: 1%;
    font-size: 20px;
    color: rgb(7, 11, 41);
    transition: font-size 0.2s;
}
#sports a:hover{
    text-decoration: none;
    margin: 1%;
    font-size: 24px;
    color: rgb(184, 8, 8);
}
#sports {
    margin-left:3.5% ;
}
.container {
    width: 100%; 
}
.platforma i{
    font-size: 24px;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 16%;
    color: black;
}
.platforma i:hover{
    font-size: 24px;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 16%;
    color: rgb(175, 53, 53);
}
.platforma button{
    width: 120px;
    height: 30px;
    border: none;
    background-color: tomato;
    border-radius: 25px;
    margin-bottom: 2%;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.platforma button:hover{
    width: 120px;
    height: 30px;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    margin-bottom: 2%;
    font-size: 20px;
    color: tomato;
}
.platforma img{
    width: 250px;
    height: 250px;
}
/* Catalog */
/* all */
.topbutton {
    width:30px;
    background:rgba(197, 189, 189, 0.699);
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:20px;
    right:20px;
    color:rgb(133, 0, 0);
    font-size:20px;
    border-radius: 25%;
}
/* all */
.bottom{
    margin: 0;
    padding: 10px;
    text-align: center;
    color: cornsilk;
}
.bottom a{
    text-decoration: none;
    color: cornsilk;
}
footer{
    background-image: url("../img/footer-bg.png");
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
}
footer .main1{
    display: flex;
    flex-wrap: wrap;
    color: cornsilk;
    font-size: 16px;
    padding-top: 20px;
}
.t p,.e p{
    font-family: 'Crimson Text', serif;
}
.e i{
    color: cornsilk;
} 
.main1 div{
    margin-left: 8%;
    text-align: left;
}
.r a{
    text-decoration: none;
    color: cornsilk;
    font-family: 'Crimson Text', serif;
}
.t h2,.e h2,.r h2, .social_networks h2{
    letter-spacing: 2.5px;
}
.social_networks img{
    width: 30px;
    height: auto;
}
.aboutus{
    width: 100%;
    height: auto;
    background-color: rgba(255, 247, 247, 0.767);
}
.aboutus .main{
    font-size: 23px;
    padding-left: 15%;
    padding-top: 15%;
    padding-bottom: 15%;
}
.aboutus .main h1{
    font-size: 70px;
}
.img1 img{
    margin-top: 10%;
    margin-bottom: 10%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    width: 400px;
    height: auto;
    margin-left: 30%;
}
.img2 img{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 120px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    width: 400px;
    height: auto;
}
.block, .partner_logos{
    display: flex;
    flex-wrap: wrap;
}
.partners h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 5%;
    padding-top: 10%;
}
.words{
    margin: auto;   
}
.words h3{
    border-bottom: 2px solid black;
    color: rgb(26, 25, 24);
}
.words p{
    font-size: 22px;
    color: rgb(53, 52, 52);
}
.words h2{
    color: rgb(25, 25, 31);
    letter-spacing: 2px;
}
.partner_logos img{
    width: 170px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.partner_logos a{
    margin-left: 15%;
    margin-bottom: 10%;
}
.partners h2{
    font-size: 45px;
    letter-spacing: 2px;
}
/* Register page css */
.header2 {
    width: 40%;
    padding-top: 10%;
	margin:auto;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content1 {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: rgb(70, 106, 107);
	border: none;
    border-radius: 5px;
    margin-left:40%;
}
#admin_main{
    background-image: url("../img/concrete-1646788_960_720.webp");
}
/* Register page css */
.product_list img{
    padding-top: 5%;
    margin-left:20%;
    width: 300px;
    height: auto;
    padding-bottom: 5%;
}
.product_list{
    display: flex;
    background-image: url("concrete-1646788_960_720.webp");
}
.pro{
    padding-top: 8%;
    padding-left: 5%;
}
.pro button{
    width: 120px;
    height: 30px;
    border: none;
    background-color: tomato;
    border-radius: 25px;
    margin-bottom: 2%;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.pro button:hover{
    width: 120px;
    height: 30px;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    margin-bottom: 2%;
    font-size: 20px;
    color: tomato;
}
.sports h2{
    padding-left: 20%;
    color:white
}