@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
*{
    padding: 0%;
    margin: 0%;

}
.top{
    background-color: rgb(49, 44, 44);
    padding: 10px;
}
.spans{
    padding-left: 12%;
    font-size: large;
    font-weight: bolder;
    width: 25px;
    height: 30px;
    margin-bottom: -8px;
    color: white;
    font-family: 'Adamina';
}
.spans_img{
    width: 25px;
    height: 30px;
    margin-bottom: -8px;
}
header{
    display: flex;
    height: 90px;
    background-color: rgba(80, 82, 81, 0.692);
    position: relative;
    
}
.right_side{
    display: flex;
    flex-direction: row;
}
.left_side {
    position: absolute;
    right: 0;
    top: 25px;
}
.fa-map-marker-alt,.fa-phone-alt,.fa-at,.fa-home,.fa-address-card,.fa-address-book,.fa-shopping-basket,.fa-arrow-up{
    color:white;
}

.logo_word1{
    font-size: 40px;
    font-family: fantasy;
    color: rgb(206, 219, 26);
    padding-bottom: 10px;
    margin: 20px;
    margin-left: 10px;
}
.logo_word2{
    margin: 20px;
    font-size: 40px;
    font-family: fantasy;
    color: rgba(85, 201, 236, 0.911);
    margin-left: -10px; 
}
.logo_img{
    margin: 10px;
    width: 70px;
    height: 70px;
}
.left_side{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;
}
.left_side a{
    margin: 10px;
    text-decoration:none;
    font-weight: bolder;
    color:white;
    font-size: 20px;
}
.left_side a:hover{
    color: tomato;
}
.parallax{
    background-image: url("winter.jpg");
    min-height: 550px; 
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: none;
}
.overlay{
    position: absolute;
    width: 1348px;
    height:550px;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 2;
}
.parallax h1{
    padding-top: 90px;
    font-size: 50px;
    color:white;
    font-weight: bold;
    font-family: s;
    letter-spacing: 2px;
    transition: font-size 0.2s;

}
.parallax h1:hover{
    font-size: 60px;
}
.parallax p{
    color: rgba(248, 248, 248, 0.801);
    font-size: 16px;
    font-weight: bold;
    transition: font-size 0.2s;
    
}
.parallax p:hover{
    font-size: 24px;
}
.parallax button{
    border:none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgba(255, 196, 45, 0.87);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    transition: width 0.2s, height 0.2s;
}
.parallax button:hover{
    width: 180px;
    height: 55px;
    color:rgba(255, 196, 45, 0.87);
    background-color: black;
    font-size: 25px;   
}
.container {
    width: 100%; 
}
.sidebar {
    width: 9px; 
    padding: 10px 130px; 
    float: left; 
    background-image: url("wood-1866667_960_720.webp");
    background-size: cover;
    margin-top: -3px;
}
.content {
    margin-left: 20%; 
    padding: 10px; 
    background-image: url("concrete-1646788_960_720.webp");
}
.sidebar a{
    margin-left: -60px;
    text-decoration: none;
    color: rgb(77, 76, 76);
    font-size: 24px;
    font-weight: bold;
    border: 1px red;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.sidebar a:hover{
    color: white;
}
.element img{
    width: 250px;
    height: auto; 
}
.platforma{  
    width: 255px;
    height: auto;
    border: 1px solid grey;
    background-color: rgba(248, 248, 248, 0.801);
    text-align: center;
    margin: 30px;
    margin-top: 10px;
    margin-left: 55px;
}
.element{
    display: flex;
    flex-wrap: wrap;
}
.topbutton {
    width:20px;
    border:2px solid #ccc;
    background:white;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bottom{
    margin: 0;
    padding: 10px;
    text-align: center;
    color: cornsilk;
}
.bottom a{
    text-decoration: none;
    color: cornsilk;
}
footer{
    background-image: url("footer-bg.png");
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
}
footer .main1{
    display: flex;
    flex-wrap: wrap;
    color: cornsilk;
    font-size: 16px;
    padding-top: 20px;
    font-family: 'Abel';
}
.e i{
    color: cornsilk;
} 
.main1 div{
    margin-left: 8%;
    text-align: center;
}
.r a{
    text-decoration: none;
    color: cornsilk;
}
.social_networks{
    
}
.social_networks img{
    width: 30px;
    height: auto;
}

.aboutus{
    width: 100%;
    height: auto;
    /* background-image: url("concrete-1646788_960_720.webp"); */
}
.aboutus .main{
    background-color: white;
    font-size: 20px;
    padding-left: 20%;
    margin-top: 10%;
    margin-bottom: 15%;
}
.aboutus .main h1{
    font-size: 50px;
}
.imgs img{
    border: 1px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    width: 500px;
    height: auto;
}
